<section id="left">
<article>
<h3>Átlagszámolás</h3>

<table>
  <tr>
    <th>Név</th>
    <th>Kredit</th>
    <th>Érdemjegy</th>
  </tr>
<% @subjects.each do |subject| %>
  <tr>
    <td class="first-col"><%= subject.name %></td>
    <td class="credit-col"><%= subject.credit %></td>
    <td>
		<select>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</td>
  </tr>
<% end %>

</table>
<div class="result">
<a href="#" class="countit">Átlag kiszámolása</a>

<table>

<tr>
	<th>Összes felvett kredit</th>
	<th>Teljesített kredit</th>
	<th>Átlag</th>
	<th>Kumm. átlag</th>
	<th>Ösztöndíj index</th>
</tr>
<tr>
	<td>2</td>
	<td>3</td>
	<td>4</td>
	<td>5</td>
	<td>6</td>
</tr>

</table>

</div>

</article>
</section>
