<nav>
	<ul>
		<li><%= link_to 'Főoldal', subjects_path %></li>
		<li><a href="#">Jegyzetek</a></li>
		<li><%= link_to 'Átlagszámolás', "/average" %></li>
		<li><%= link_to 'Órarend', oraks_path %></li>
		<li> </li>
		<li> </li>
	</ul>
</nav>
