<article class="times">
		<div class="title">
			<h3>idők</h3>
		</div>
		<h4 class="week-counter">x. hét</h4>
		<progress value="20%" class="progress-bar"></progress>
		<h4 class="next-stuff-title">következő esemény:</h4>
		<table class="schedule">
			<tr>
				<td>09.26.</td>
				<td>Ruby házi</td>
			</tr>
		</table>
		<img src="/assets/homokora.png" class="hourglass">
</article>
